# ============================================
# LOGS
# ============================================

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*


# ============================================
# DEPENDENCIES
# ============================================

node_modules/


# ============================================
# BUILD / DIST
# ============================================

dist/
dist-ssr/


# ============================================
# ENVIRONMENT / LOCAL FILES
# ============================================

*.local
.env
.env.*


# ============================================
# UPLOADED FILES
# ============================================

uploads/


# ============================================
# EDITOR DIRECTORIES AND FILES
# ============================================

.vscode/*
!.vscode/extensions.json

.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?